option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: aktos_challenge.wsgi:application

container_commands:
  01_migrate:
    command: "python3 manage.py migrate --noinput"
  02_collectstatic:
    command: "python3 manage.py collectstatic --noinput"

files:
  "/etc/codedeploy-agent/conf/codedeployagent.yml":
    owner: root
    group: root
    mode: "000644"
    content: |
      aws_access_key_id: ${AWS_ACCESS_KEY_ID}
      aws_secret_access_key: ${AWS_SECRET_ACCESS_KEY}
      region: ${AWS_REGION}